.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #aa6f73;
  padding: 40px;
  border-radius: 10px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 0 10px #333;
}

.form-group {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
  color: #f6e0b5;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  background-color: #f6e0b5;
  border-bottom: 2px solid rgb(175, 175, 175);
  box-shadow: 0 0 10px rgb(145, 145, 145);
}


input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  box-shadow: 0 0 10px ;
}

textarea {
  height: 200px;
  border: 2px solid rgb(175, 175, 175);
  background-color: #f6e0b5;
  border-radius: 5px;
  resize: none;
  padding: 10px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #a39193;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: #f6e0b5;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

input[type="submit"]:hover {
  color: #a39193;
  background-color: #f6e0b5;;
}