.section {
    padding: 80px 0;
    text-align: center;
    background-color: #f8f8f8;
  }
  .contact {
    text-align:center;
    color:white;
  }
  header {
    background-color: #333;
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    display: inline-block;
    margin: 0 20px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    display: block;
    transition: all 0.2s ease-in-out;
  }
  
  nav a:hover {
    background-color: #555;
    transform: translateY(-10px);
  }
  
  .section-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .about-image {
    width: 30%;
    margin-right: 40px;
  }
  
  .about-image img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 10px 15px #ddd;
  }
  
  .about-text {
    width: 70%;
  }
  
  .about-text p {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 40px;
  }
  
  .cta-button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    border-radius: 50px;
    transition: all 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #fff;
    color: #333;
    cursor: pointer;
  }
  