 .section-content {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
 }

 .about-image {
    padding: 10px;
     width: 40%;
     margin-right: 40px;
 }

 .about-image img {
    display: flex;
     width: auto;
     border-radius: 90%;
     margin-left: auto;
     margin-right: auto;
     box-shadow: 0px 10px 15px #ddd;
 }

 .about-text {
     width: 70%;
 }

 .about-text p {
     font-size: 18px;
     line-height: 1.5;
     text-align: center;
     align-items: center;
     color: #66545e;
     margin-bottom: 10px;
 }

 .cta-button {
     display: block;
     padding: 12px 24px;
     height: 20px;
     width: 150px;
     margin-left: auto;
     margin-right: auto;
     font-size: 18px;
     font-weight: bold;
     text-align: center;
     text-decoration: none;
     color: #f6e0b5;
     background-color: #66545e;
     border-radius: 50px;
     transition: all 0.3s ease;
 }

 .cta-button:hover {
     background-color: #f6e0b5;
     color: #66545e;
     cursor: pointer;
 }