  .linkedin-button, .github-button {
    position: fixed;
    bottom: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .linkedin-button {
    left: 20px;
    background-color: #0077B5;
    color: white;
  }
  
  .github-button {
    left: 300px;
    background-color: black;
    color: white;
  }