<!DOCTYPE html>
<html>

<head>
  <title>Zac's thoughts</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='blog.css') }}">
</head>

<body>
  <header>
    <div class="blog">
      <h1>My Blog</h1>
    </div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>


  <div id="blogContainer"></div>

  <script src="/static/blog.js"></script>
</body>

</html>